:root {
    --primary-color: rgb(77, 39, 11);
    --secondary-color: black;
    --tertiary-color: rgb(72, 72, 72);
    --quaternary-color: rgb(253, 247, 206);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
}
/* Header Style */
header {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--quaternary-color);
}

header nav {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 24px;
    text-decoration: none;
    color: var(--quaternary-color);
}

/* Hero/About Me Section styling */
#about-me {
    padding: 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--primary-color) 5%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#my-photo {
    width: 600px;
}