:root {
    --primary-color: rgb(52, 27, 9);
    --secondary-color: black;
    --tertiary-color: rgb(72, 72, 72);
    --quaternary-color: rgb(253, 247, 206);
    --quinary-color: white;
    --senairy-color: rgb(255, 245, 179);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
}
/* Header Style */
header {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--quaternary-color);
}

header nav {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 24px;
    text-decoration: none;
    color: var(--quaternary-color);
}

/* Hero/About Me Section styling */
.about {
    padding: 40px 0 100px 0;
    background-image: linear-gradient(var(--primary-color) 80%, rgba(0, 0, 0, 0));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--quinary-color);
}

#my-photo {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 3px solid var(--secondary-color);
    margin-bottom: 10px;
}

#about-me-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me-info .border-bottom {
    width: 10%;
    border-bottom: 1px solid var(--quaternary-color);
    margin-bottom: 5px;
}
#about-me-info p {
    margin-bottom: 5px;
    line-height: 1.5rem;
}

.projects {
    width: 100%;
    height: 1000px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--quinary-color);
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

#applications {
    width: 90%;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#first-app {
    width: 630px;
    height: 301px;
    border: 4px solid var(--senairy-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

#direwolfconnect-div {
    width: 70%;
    border-bottom: 3px solid var(--senairy-color);
    margin-bottom: 10px;
}

#direwolfconnect {
    font-size: 28px;
    color: var(--quaternary-color);
}

#more-apps {
    width: 69%;
    display: flex;
    background-color: rgb(255, 255, 255, 0.5);
}